<template name="allArticles">
  {{> addArticle}}
  <div>
    {{> reactiveTable collection=articles settings=tableSettings }}
  </div>
</template>
<template name="addArticle">
  <div>
    <textarea  rows="4" cols="100" id="addArticle">
{
  "pmc id":"PMC3329502"
}
    </textarea>
  <button type="button" class="btn btn-default" id="add-test-article">pii</button>
  <button type="button" class="btn btn-default" id="add-test-article">doi</button>
  <button type="button" class="btn btn-default" id="add-test-article">pm id</button>
  <button type="button" class="btn btn-default" id="add-test-article">pmc id</button>
  </div>
</template>
